.metadata/
APCS_Final_HenryL/
Array2_HenryLoh/
C++/
C++Proj/
GithubTest/
GLFW2/
GLFW_TEST/
Hamilton/
Java/
JFrame/
JNetworking/
LWJGL_Testing/
PGHS_Aquaponics/
Python/
RemoteSystemsTempFiles/
Template_GLFW/
TestJava/


NeuralNetworking/.classpath
NeuralNetworking/.project
NeuralNetworking/bin/
